{% extends 'ttgen/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Section{% endblock title %}

{% comment %} Navigation {% endcomment %}
{% block navigation %}
    {% include 'ttgen/includes/_navbar.html' %}
{% endblock navigation %}

{% block content %}
        <h2>Add Section</h2>
        <h5>
            Please use the following form to enter the 
            Section into the system for timetable generation
        </h5>
        <div class="container-fluid px-4 py-5">
            <form method='POST'>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
{% endblock content %}