{% extends 'ttgen/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Courses{% endblock title %}

{% comment %} Navigation {% endcomment %}
{% block navigation %}
    {% include 'ttgen/includes/_navbar.html' %}
{% endblock navigation %}

{% block content %}
        <div class="d-flex">
            <h2 class="me-5">Add Courses</h2>
            <a href="{% url 'ttgen:dashboard' %}" class='btn btn-primary'>Back</a>
        </div>
        <h5>
            Please use the following form to enter the 
            Courses into the system for timetable generation
        </h5>
        <div class="container-fluid px-4 py-5">
            <form method='POST'>
                {% csrf_token %}
                {% crispy form %}
            </form>
        </div>
{% endblock content %}