{% extends 'ttgen/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Generate Timetable{% endblock title %}

{% comment %} Navigation {% endcomment %}
{% block navigation %}
    {% include 'ttgen/includes/_navbar.html' %}
{% endblock navigation %}

{% block content %}
    <div class="d-flex mb-3 justify-content-between">
        <h1 class=''>Timetable</h1>
        <a class="btn btn-primary" href="{% url 'ttgen:dashboard'%}">Back to Dashboard <i class="fas fa-arrow-left"></i></a>
    </div>
    {% for section in sections %}
        <h2 class="">{{ section.id }} ({{ section.department }})</h2>
        <div class="table-responsive text-center">
            <table class="table table-hover table-bordered table-sm align-middle">
                <thead class='table-dark'>
                  <tr>>
                    <th scope='col'>Class</th>
                    <th scope='col'>Course</th>
                    <th scope='col'>Lecture Room</th>
                    <th scope='col'>Lecturer</th>
                    <th scope='col'>Time</th>
                  </tr>
                </thead>
                <tbody>
                    {% for class in schedule %}
                    <li>{{ class }}</li>
                      {% comment %} {% if class.section_id == section.id %}
                          <tr>
                              <th scope='row'>{{class.id}}</th>
                              <td>{{class.course}}</td>
                              <td>{{class.room}}</td>
                              <td>{{class.lecturer}}</td>
                              <td>{{class.lecture_time}}</td>
                          </tr>
                      {% endif %} {% endcomment %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <button class="btn btn-primary submit" id="download">Download</button>
{% endblock content %}